{% extends 'base.html' %}

{% block content %}
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
<nav>
    <h2>Image uploadée.</h2>

    <img src="{{url_for('static', filename=nomimageOr)}} " alt="Image de base" width="75%">
    <br>
    <br>
</nav>
<footer>
    <p>Êtes vous sûr de vouloir mettre cette image ?</p>
    <button type="button" onclick="window.location.href='{{ url_for('auth.delete_img') }}';">Non</button>
    <button type="button" onclick="location.href='traitement';">Oui</button>
</footer>
</body>
</html>
{% endblock %}